@import "variables";

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: $screen-xs) {
      @content;
    }
  } @else if $size == phone-up {
    @media (min-width: $screen-xs) {
      @content;
    }
  } @else if $size == tablet-down {
    @media (max-width: $screen-sm) {
      @content;
    }
  } @else if $size == tablet-up {
    @media (min-width: $screen-sm) {
      @content;
    }
  } @else if $size == desktop-down {
    @media (max-width: $screen-md) {
      @content;
    }
  } @else if $size == desktop-up {
    @media (min-width: $screen-md) {
      @content;
    }
  } @else if $size == big-desktop-up {
    @media (min-width: $screen-lg) {
      @content;
    }
  }
}

@mixin big-adaptive-font() {
  @include for-size('phone-only') {
    font-size: $fontBig - 10px;
  }

  @include for-size('phone-up') {
    font-size: $fontBig - 5px;
  }

  @include for-size('tablet-up') {
    font-size: $fontBig;
  }
}